#mask{
    position:absolute;
    top:250px;
    left:130px;
    display:none;
    height:200px;
    width:30px;
    border-right:50px solid rgb(0,0,0,0.5);
    border-top:10px solid rgb(0,0,0,0.5);
    border-bottom:10px solid rgb(0,0,0,0.5);
    z-index:10;
}

#numbers{
    position:absolute;
    top:130px;
    left:100px;
    z-index:3;
    opacity:0;
    display:none;
}

#number1{
    position:absolute;
    top:155px;
}

#number2{
    position:absolute;
    top:215px;
}
.numberLook {
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
  font-size:30px;
  color:white;
  position:absolute;
}


#line1{
    position:absolute;
    top:420px;
    Background-color:black;
    height:5px;
}

#line2{
    position:absolute;
    top:300px;
    Background-color:black;
    height:5px;
}

.firstNumber{
    animation:goRed1 linear 1s;
}

@keyframes goRed2{
    0%{
	color:white
    }
    50%{
	color:white;
    }
    51%{
	color:red;
    }
    100%{
	color:white;
    }
}

.secondNumber{
    animation:goRed2 linear 1s;
}

@keyframes goRed1{
    10%{
	color:white
    }
    20%{
	color:red;
    }
    50%{
	color:white;
    }
    100%{
	color:white;
   }
}

#mente{
    position:absolute;
    top:-70px;
    z-index:30;
    font-size:30px;
    color:#4286f4;
    text-shadow:1px black
}

#resultP{
    position:absolute;
    top:-20px;
    z-index:30;
    font-size:30px;
    color:black;
    text-shadow:1px black
}

#result{
    position:absolute;
    top:268px;
}

#memorisedValues{
    position:absolute;
    top:100px;
}

#dataToCalculate{
    display:none;
    opacity:0.1;
}


.showCalculations{
    animation:showCalculationsAnimation 0.6s linear forwards;
}

@keyframes showCalculationsAnimation{
    0%{
	opacity:0.1;
    }
    50%{
	opacity:0.5;
    }
    100%{
	opacity:1;
    }
}


.inputClass{
    position:absolute;
    left:30px;
    height:40px;
    width:auto;
    font-size:30px;
    border-color:transparent;
    box-shadow:5px 3px 3px grey;
}

#number1Input{
    top:30px;
}

#number2Input{
    top:90px;
}

#calculateSum{
    top:170px;
    left:300px;
}

.button{
    position:absolute;
    border:none;
    height:40px;
    Background-color:#f49542;
    font-size:14px;
    transition: all 0.2s linear;    
}

.button:hover{
    Background-color:white;
    border:solid #f49542 3px;
}

#reset{
    display:none;
    top:100px;
    left:10px;
}

#description{
    position:absolute;
    left:500px;
    width:250px;
    box-shadow:inset 0 0 10px #000000;
    padding:10px;
}

#welcome{
    text-align:center;
    font-weight:bold;
}
